
@media (min-width: 768px) {
    .carousel-img {
        height: 500px !important;
        object-fit: cover;
    }
} 

html, body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .main-content {
        flex: 1;
    }